:root {
  --source: #1a94a3;
  /* primary */
  --ref-palette-primary0: #000000;
  --ref-palette-primary5: #001417;
  --ref-palette-primary10: #001f24;
  --ref-palette-primary20: #00363d;
  --ref-palette-primary25: #00424a;
  --ref-palette-primary30: #004f58;
  --ref-palette-primary35: #005b66;
  --ref-palette-primary40: #006874;
  --ref-palette-primary50: #008392;
  --ref-palette-primary60: #00a0b0;
  --ref-palette-primary70: #22bccf;
  --ref-palette-primary80: #4fd8eb;
  --ref-palette-primary90: #97f0ff;
  --ref-palette-primary95: #d0f8ff;
  --ref-palette-primary98: #edfcff;
  --ref-palette-primary99: #f6feff;
  --ref-palette-primary100: #ffffff;
  /* secondary */
  --ref-palette-secondary0: #000000;
  --ref-palette-secondary5: #001417;
  --ref-palette-secondary10: #001f24;
  --ref-palette-secondary20: #00363d;
  --ref-palette-secondary25: #00424b;
  --ref-palette-secondary30: #004f58;
  --ref-palette-secondary35: #005b66;
  --ref-palette-secondary40: #006875;
  --ref-palette-secondary50: #008393;
  --ref-palette-secondary60: #009fb2;
  --ref-palette-secondary70: #24bcd0;
  --ref-palette-secondary80: #50d8ed;
  --ref-palette-secondary90: #9cf0ff;
  --ref-palette-secondary95: #d2f7ff;
  --ref-palette-secondary98: #eefcff;
  --ref-palette-secondary99: #f6fdff;
  --ref-palette-secondary100: #ffffff;
  /* tertiary */
  --ref-palette-tertiary0: #000000;
  --ref-palette-tertiary5: #000f30;
  --ref-palette-tertiary10: #001945;
  --ref-palette-tertiary20: #002d6f;
  --ref-palette-tertiary25: #053783;
  --ref-palette-tertiary30: #1a438f;
  --ref-palette-tertiary35: #294f9c;
  --ref-palette-tertiary40: #375ca9;
  --ref-palette-tertiary50: #5275c3;
  --ref-palette-tertiary60: #6d8fdf;
  --ref-palette-tertiary70: #87a9fc;
  --ref-palette-tertiary80: #b0c6ff;
  --ref-palette-tertiary90: #d9e2ff;
  --ref-palette-tertiary95: #eef0ff;
  --ref-palette-tertiary98: #faf8ff;
  --ref-palette-tertiary99: #fefbff;
  --ref-palette-tertiary100: #ffffff;
  /* error */
  --ref-palette-error0: #000000;
  --ref-palette-error5: #2d0001;
  --ref-palette-error10: #410002;
  --ref-palette-error20: #690005;
  --ref-palette-error25: #7e0007;
  --ref-palette-error30: #93000a;
  --ref-palette-error35: #a80710;
  --ref-palette-error40: #ba1a1a;
  --ref-palette-error50: #de3730;
  --ref-palette-error60: #ff5449;
  --ref-palette-error70: #ff897d;
  --ref-palette-error80: #ffb4ab;
  --ref-palette-error90: #ffdad6;
  --ref-palette-error95: #ffedea;
  --ref-palette-error98: #fff8f7;
  --ref-palette-error99: #fffbff;
  --ref-palette-error100: #ffffff;
  /* neutral */
  --ref-palette-neutral0: #000000;
  --ref-palette-neutral5: #0e1112;
  --ref-palette-neutral10: #191c1d;
  --ref-palette-neutral20: #2e3132;
  --ref-palette-neutral25: #393c3d;
  --ref-palette-neutral30: #444748;
  --ref-palette-neutral35: #505354;
  --ref-palette-neutral40: #5c5f60;
  --ref-palette-neutral50: #757778;
  --ref-palette-neutral60: #8e9192;
  --ref-palette-neutral70: #a9acac;
  --ref-palette-neutral80: #c4c7c8;
  --ref-palette-neutral90: #e1e3e4;
  --ref-palette-neutral95: #eff1f2;
  --ref-palette-neutral98: #f8fafa;
  --ref-palette-neutral99: #fbfcfd;
  --ref-palette-neutral100: #ffffff;
  /* neutral-variant */
  --ref-palette-neutral-variant0: #000000;
  --ref-palette-neutral-variant5: #091214;
  --ref-palette-neutral-variant10: #141d1f;
  --ref-palette-neutral-variant20: #293234;
  --ref-palette-neutral-variant25: #343d3f;
  --ref-palette-neutral-variant30: #3f484a;
  --ref-palette-neutral-variant35: #4b5456;
  --ref-palette-neutral-variant40: #576062;
  --ref-palette-neutral-variant50: #6f797b;
  --ref-palette-neutral-variant60: #899294;
  --ref-palette-neutral-variant70: #a3adaf;
  --ref-palette-neutral-variant80: #bfc8ca;
  --ref-palette-neutral-variant90: #dbe4e6;
  --ref-palette-neutral-variant95: #e9f2f5;
  --ref-palette-neutral-variant98: #f2fbfd;
  --ref-palette-neutral-variant99: #f7fdff;
  --ref-palette-neutral-variant100: #ffffff;
  /* light */
  --color-primary-light: #1a94a3;
  --color-on-primary-light: #ffffff;
  --color-primary-container-light: #97f0ff;
  --color-on-primary-container-light: #001f24;
  --color-primary-fixed-light: #97f0ff;
  --color-on-primary-fixed-light: #001f24;
  --color-primary-fixed-dim-light: #4fd8eb;
  --color-on-primary-fixed-variant-light: #004f58;
  --color-secondary-light: #006875;
  --color-on-secondary-light: #ffffff;
  --color-secondary-container-light: #9cf0ff;
  --color-on-secondary-container-light: #001f24;
  --color-secondary-fixed-light: #9cf0ff;
  --color-on-secondary-fixed-light: #001f24;
  --color-secondary-fixed-dim-light: #50d8ed;
  --color-on-secondary-fixed-variant-light: #004f58;
  --color-tertiary-light: #375ca9;
  --color-on-tertiary-light: #ffffff;
  --color-tertiary-container-light: #d9e2ff;
  --color-on-tertiary-container-light: #001945;
  --color-tertiary-fixed-light: #d9e2ff;
  --color-on-tertiary-fixed-light: #001945;
  --color-tertiary-fixed-dim-light: #b0c6ff;
  --color-on-tertiary-fixed-variant-light: #1a438f;
  --color-error-light: #ba1a1a;
  --color-on-error-light: #ffffff;
  --color-error-container-light: #ffdad6;
  --color-on-error-container-light: #410002;
  --color-outline-light: #6f797b;
  --color-background-light: #fbfcfd;
  --color-on-background-light: #191c1d;
  --color-surface-light: #f8fafa;
  --color-on-surface-light: #191c1d;
  --color-surface-variant-light: #dbe4e6;
  --color-on-surface-variant-light: #3f484a;
  --color-inverse-surface-light: #2e3132;
  --color-inverse-on-surface-light: #eff1f2;
  --color-inverse-primary-light: #4fd8eb;
  --color-shadow-light: #000000;
  --color-surface-tint-light: #006874;
  --color-outline-variant-light: #bfc8ca;
  --color-scrim-light: #000000;
  --color-surface-container-highest-light: #e1e3e4;
  --color-surface-container-high-light: #e6e8e9;
  --color-surface-container-light: #eceeef;
  --color-surface-container-low-light: #f2f4f5;
  --color-surface-container-lowest-light: #ffffff;
  --color-surface-bright-light: #f8fafa;
  --color-surface-dim-light: #d8dadb;
  /* dark */
  --color-primary-dark: #4fd8eb;
  --color-on-primary-dark: #00363d;
  --color-primary-container-dark: #004f58;
  --color-on-primary-container-dark: #97f0ff;
  --color-primary-fixed-dark: #97f0ff;
  --color-on-primary-fixed-dark: #001f24;
  --color-primary-fixed-dim-dark: #4fd8eb;
  --color-on-primary-fixed-variant-dark: #004f58;
  --color-secondary-dark: #50d8ed;
  --color-on-secondary-dark: #00363d;
  --color-secondary-container-dark: #004f58;
  --color-on-secondary-container-dark: #9cf0ff;
  --color-secondary-fixed-dark: #9cf0ff;
  --color-on-secondary-fixed-dark: #001f24;
  --color-secondary-fixed-dim-dark: #50d8ed;
  --color-on-secondary-fixed-variant-dark: #004f58;
  --color-tertiary-dark: #b0c6ff;
  --color-on-tertiary-dark: #002d6f;
  --color-tertiary-container-dark: #1a438f;
  --color-on-tertiary-container-dark: #d9e2ff;
  --color-tertiary-fixed-dark: #d9e2ff;
  --color-on-tertiary-fixed-dark: #001945;
  --color-tertiary-fixed-dim-dark: #b0c6ff;
  --color-on-tertiary-fixed-variant-dark: #1a438f;
  --color-error-dark: #ffb4ab;
  --color-on-error-dark: #690005;
  --color-error-container-dark: #93000a;
  --color-on-error-container-dark: #ffdad6;
  --color-outline-dark: #899294;
  --color-background-dark: #191c1d;
  --color-on-background-dark: #e1e3e4;
  --color-surface-dark: #111415;
  --color-on-surface-dark: #c4c7c8;
  --color-surface-variant-dark: #3f484a;
  --color-on-surface-variant-dark: #bfc8ca;
  --color-inverse-surface-dark: #e1e3e4;
  --color-inverse-on-surface-dark: #191c1d;
  --color-inverse-primary-dark: #006874;
  --color-shadow-dark: #000000;
  --color-surface-tint-dark: #4fd8eb;
  --color-outline-variant-dark: #3f484a;
  --color-scrim-dark: #000000;
  --color-surface-container-highest-dark: #323536;
  --color-surface-container-high-dark: #272a2b;
  --color-surface-container-dark: #1d2021;
  --color-surface-container-low-dark: #191c1d;
  --color-surface-container-lowest-dark: #0b0f10;
  --color-surface-bright-dark: #363a3b;
  --color-surface-dim-dark: #111415;
}
