:root {
  /* Core Colors */
  --primary: #1a94a3;
  --secondary: #7c959a;
  --tertiary: #8490b2;
  --neutral: #8e9192;
  --neutralVariant: #899294;

  /* Light Scheme */
  --light-primary: #1a94a3;
  --light-onPrimary: #ffffff;
  --light-primaryContainer: #97f0ff;
  --light-onPrimaryContainer: #001f24;
  --light-primaryFixed: #97f0ff;
  --light-onPrimaryFixed: #001f24;
  --light-primaryFixedDim: #4fd8eb;
  --light-onPrimaryFixedVariant: #004f58;
  --light-secondary: #006875;
  --light-onSecondary: #ffffff;
  --light-secondaryContainer: #9cf0ff;
  --light-onSecondaryContainer: #001f24;
  --light-secondaryFixed: #9cf0ff;
  --light-onSecondaryFixed: #001f24;
  --light-secondaryFixedDim: #50d8ed;
  --light-onSecondaryFixedVariant: #004f58;
  --light-tertiary: #375ca9;
  --light-onTertiary: #ffffff;
  --light-tertiaryContainer: #d9e2ff;
  --light-onTertiaryContainer: #001945;
  --light-tertiaryFixed: #d9e2ff;
  --light-onTertiaryFixed: #001945;
  --light-tertiaryFixedDim: #b0c6ff;
  --light-onTertiaryFixedVariant: #1a438f;
  --light-error: #ba1a1a;
  --light-onError: #ffffff;
  --light-errorContainer: #ffdad6;
  --light-onErrorContainer: #410002;
  --light-errorFixed: #ffdad6;
  --light-onErrorFixed: #410002;
  --light-errorFixedDim: #ffb4ab;
  --light-onErrorFixedVariant: #930009;
  --light-warning: #805600;
  --light-onWarning: #ffffff;
  --light-warningContainer: #ffddb0;
  --light-onWarningContainer: #281800;
  --light-warningFixed: #ffddb0;
  --light-onWarningFixed: #281800;
  --light-warningFixedDim: #ffba45;
  --light-onWarningFixedVariant: #614000;
  --light-outline: #6f797b;
  --light-background: #fbfcfd;
  --light-onBackground: #191c1d;
  --light-surface: #f8fafa;
  --light-onSurface: #191c1d;
  --light-surfaceVariant: #dbe4e6;
  --light-onSurfaceVariant: #3f484a;
  --light-inverseSurface: #2e3132;
  --light-inverseOnSurface: #eff1f2;
  --light-inversePrimary: #4fd8eb;
  --light-shadow: #00000080;
  --light-surfaceTint: #006874;
  --light-outlineVariant: #bfc8ca;
  --light-scrim: #000000;
  --light-surfaceContainerHighest: #e1e3e4;
  --light-surfaceContainerHigh: #e6e8e9;
  --light-surfaceContainer: #eceeef;
  --light-surfaceContainerLow: #f2f4f5;
  --light-surfaceContainerLowest: #ffffff;
  --light-surfaceBright: #f8fafa;
  --light-surfaceDim: #d8dadb;

  /* Dark Scheme */
  --dark-primary: #4fd8eb;
  --dark-onPrimary: #00363d;
  --dark-primaryContainer: #004f58;
  --dark-onPrimaryContainer: #97f0ff;
  --dark-primaryFixed: #97f0ff;
  --dark-onPrimaryFixed: #001f24;
  --dark-primaryFixedDim: #4fd8eb;
  --dark-onPrimaryFixedVariant: #004f58;
  --dark-secondary: #50d8ed;
  --dark-onSecondary: #00363d;
  --dark-secondaryContainer: #004f58;
  --dark-onSecondaryContainer: #9cf0ff;
  --dark-secondaryFixed: #9cf0ff;
  --dark-onSecondaryFixed: #001f24;
  --dark-secondaryFixedDim: #50d8ed;
  --dark-onSecondaryFixedVariant: #004f58;
  --dark-tertiary: #b0c6ff;
  --dark-onTertiary: #002d6f;
  --dark-tertiaryContainer: #1a438f;
  --dark-onTertiaryContainer: #d9e2ff;
  --dark-tertiaryFixed: #d9e2ff;
  --dark-onTertiaryFixed: #001945;
  --dark-tertiaryFixedDim: #b0c6ff;
  --dark-onTertiaryFixedVariant: #1a438f;
  --dark-error: #ffb4ab;
  --dark-onError: #690005;
  --dark-errorContainer: #93000a;
  --dark-onErrorContainer: #ffdad6;
  --dark-outline: #899294;
  --dark-background: #191c1d;
  --dark-onBackground: #e1e3e4;
  --dark-surface: #111415;
  --dark-onSurface: #c4c7c8;
  --dark-surfaceVariant: #3f484a;
  --dark-onSurfaceVariant: #bfc8ca;
  --dark-inverseSurface: #e1e3e4;
  --dark-inverseOnSurface: #191c1d;
  --dark-inversePrimary: #006874;
  --dark-shadow: #000000;
  --dark-surfaceTint: #4fd8eb;
  --dark-outlineVariant: #3f484a;
  --dark-scrim: #000000;
  --dark-surfaceContainerHighest: #323536;
  --dark-surfaceContainerHigh: #272a2b;
  --dark-surfaceContainer: #1d2021;
  --dark-surfaceContainerLow: #191c1d;
  --dark-surfaceContainerLowest: #0b0f10;
  --dark-surfaceBright: #363a3b;
  --dark-surfaceDim: #111415;

  /* Palettes */
  --primary-0: #000000;
  --primary-5: #001417;
  --primary-10: #001f24;
  --primary-20: #00363d;
  --primary-25: #00424a;
  --primary-30: #004f58;
  --primary-35: #005b66;
  --primary-40: #006874;
  --primary-50: #008392;
  --primary-60: #00a0b0;
  --primary-70: #22bccf;
  --primary-80: #4fd8eb;
  --primary-90: #97f0ff;
  --primary-95: #d0f8ff;
  --primary-98: #edfcff;
  --primary-99: #f6feff;
  --primary-100: #ffffff;

  --secondary-0: #000000;
  --secondary-5: #001417;
  --secondary-10: #001f24;
  --secondary-20: #00363d;
  --secondary-25: #00424b;
  --secondary-30: #004f58;
  --secondary-35: #005b66;
  --secondary-40: #006875;
  --secondary-50: #008393;
  --secondary-60: #009fb2;
  --secondary-70: #24bcd0;
  --secondary-80: #50d8ed;
  --secondary-90: #9cf0ff;
  --secondary-95: #d2f7ff;
  --secondary-98: #eefcff;
  --secondary-99: #f6fdff;
  --secondary-100: #ffffff;

  --tertiary-0: #000000;
  --tertiary-5: #000f30;
  --tertiary-10: #001945;
  --tertiary-20: #002d6f;
  --tertiary-25: #053783;
  --tertiary-30: #1a438f;
  --tertiary-35: #294f9c;
  --tertiary-40: #375ca9;
  --tertiary-50: #5275c3;
  --tertiary-60: #6d8fdf;
  --tertiary-70: #87a9fc;
  --tertiary-80: #b0c6ff;
  --tertiary-90: #d9e2ff;
  --tertiary-95: #eef0ff;
  --tertiary-98: #faf8ff;
  --tertiary-99: #fefbff;
  --tertiary-100: #ffffff;

  --error-0: #000000;
  --error-5: #2d0001;
  --error-10: #410002;
  --error-20: #690005;
  --error-25: #7e0007;
  --error-30: #93000a;
  --error-35: #a80710;
  --error-40: #ba1a1a;
  --error-50: #de3730;
  --error-60: #ff5449;
  --error-70: #ff897d;
  --error-80: #ffb4ab;
  --error-90: #ffdad6;
  --error-95: #ffedea;
  --error-98: #fff8f7;
  --error-99: #fffbff;
  --error-100: #ffffff;

  --warning-0: #000000;
  --warning-5: #1a0f00;
  --warning-10: #281800;
  --warning-20: #442c00;
  --warning-25: #523600;
  --warning-30: #614000;
  --warning-35: #704b00;
  --warning-40: #805600;
  --warning-50: #a16d00;
  --warning-60: #c28400;
  --warning-70: #e59d00;
  --warning-80: #ffba45;
  --warning-90: #ffddb0;
  --warning-95: #ffeedb;
  --warning-98: #fff8f3;
  --warning-99: #fffbff;
  --warning-100: #ffffff;

  --neutral-0: #000000;
  --neutral-5: #0e1112;
  --neutral-10: #191c1d;
  --neutral-20: #2e3132;
  --neutral-25: #393c3d;
  --neutral-30: #444748;
  --neutral-35: #505354;
  --neutral-40: #5c5f60;
  --neutral-50: #757778;
  --neutral-60: #8e9192;
  --neutral-70: #a9acac;
  --neutral-80: #c4c7c8;
  --neutral-90: #e1e3e4;
  --neutral-95: #eff1f2;
  --neutral-98: #f8fafa;
  --neutral-99: #fbfcfd;
  --neutral-100: #ffffff;

  --neutralVariant-0: #000000;
  --neutralVariant-5: #091214;
  --neutralVariant-10: #141d1f;
  --neutralVariant-20: #293234;
  --neutralVariant-25: #343d3f;
  --neutralVariant-30: #3f484a;
  --neutralVariant-35: #4b5456;
  --neutralVariant-40: #576062;
  --neutralVariant-50: #6f797b;
  --neutralVariant-60: #899294;
  --neutralVariant-70: #a3adaf;
  --neutralVariant-80: #bfc8ca;
  --neutralVariant-90: #dbe4e6;
  --neutralVariant-95: #e9f2f5;
  --neutralVariant-98: #f2fbfd;
  --neutralVariant-99: #f7fdff;
  --neutralVariant-100: #ffffff;
}
